body{
    margin: 0;
    background-color: aquamarine;
    color: pink;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

h1{
    font-size: 60px;
}

#valor{
    font-size: 90px;
    font-weight: bold;
}

.btn{
    font-size: 25px;
    border: none;
    border-radius: 5px;
    background-color: azure;
    color: aquamarine;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.btn:hover{
    color: azure;
    background-color: pink;
}